.Footer{
    background-color: #131313;
    color: #a0a0a0;
    font-family: 'Poppins';
    font-size: 15px;
    justify-content: center;
    height: 500px;
    display: flex;
    width: 100%;
    margin: 0px 0px -60px;
    padding: 80px 85.09px 50px 86px;
    .col{
        text-align: center;
    }
    .FooterHeader{
        display: flex;
        justify-content: center;
        margin-top: -50px;
        margin-bottom: 30px;
    }
    .mi {
        margin-top: 20px;
        margin-bottom: -2px;
    }
    .socilclass{
        /* text-align: center; */
        font: 18px "Poppins", Helvetica, Arial, Verdana, sans-serif;
        margin: 0px 0px 35px;
        justify-content: center;
        display: flex;
        gap: 0.5rem;
        
        .circle{
            color: #131313;
            background-color: #f7f7f7;
            font: 18px "Poppins", Helvetica, Arial, Verdana, sans-serif;
            margin-right: 0px 5px 0px 0px ;
            border-radius: 50%;
            display: flex;
            height: 2em;
            width: 2em;
            text-align: center;
            line-height: 2em;
            &:hover{
                cursor: pointer;
            }
        }
        
    }
    .copy{
        text-align: center;
    }
}

